body {
    background-color: rgb(71, 70, 70);
    animation: sky 5s infinite linear;
}

.sun {
    position: fixed;
    bottom: 15%px;
    left: 10%;
    background-color: darkred;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: sun 5s infinite linear;
}

.grass {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    background-color: #222;
    animation: grass 5s infinite linear;
}

@keyframes sky {
    0% {
        background-color: rgb(71, 70, 70);
    }

    30% {
        background-color: #FF4872;
    }

    50% {
        background-color: skyblue;

    }

    70% {
        background-color: #FF4872;

    }

    100% {
        background-color: #444;
    }
}

@keyframes grass {
    0% {
        background-color: #222;
    }

    20% {
        background-color: green;
    }

    50% {
        background-color: rgb(89, 197, 113);

    }

    80% {
        background-color: green;
    }

    100% {
        background-color: #222;
    }
}

@keyframes sun {
    0% {
        background-color: #222;
        bottom: 15%;
        left: 10%;
        background-color: darkred;

    }


    50% {
        background-color: rgb(89, 197, 113);
        bottom: 50%;
        background-color: yellow;


    }


    100% {
        background-color: #222;
        bottom: 15%;
        left: 90%;
        background-color: darkred;

    }
}